<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link href="style.css" rel="stylesheet" />
    <title>Register</title>
  </head>

  <body>
    <!-- Navigation menu -->
    <%- include('navbar_home'); %>

    <section class="py-sm-5 window">
      <div class="window-container">
        <h2 class="text-center mb-4">Create an Account</h2>
        <form method="post" action="/register">
          <!-- Error handling section if passed in from server validation-->
          <% if(error) { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
          <% } %>
          <!-- End of error handling -->

          <!-- Form labels and controls-->
          <div class="d-block d-md-flex gap-3">
            <div>
              <label for="firstname" class="form-label">First Name</label>
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="form-control mb-3"
                placeholder="Enter your first name"
                required
              />
            </div>
            <div>
              <label for="surname" class="form-label">Surname</label>
              <input
                type="text"
                name="surname"
                id="surname"
                class="form-control mb-3"
                placeholder="Enter your surname"
                required
              />
            </div>
          </div>
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control mb-3"
            placeholder="Enter your email address"
            required
          />
          <label for="password" class="form-label">Password</label>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Enter your password"
              required
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="visibility"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <label for="password-verify" class="form-label"
            >Confirm password</label
          >
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password-verify"
              id="password-verify"
              placeholder="Confirm your password"
              required
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="verify-icon"
              disabled
            >
              <i class="bi bi-dash"></i>
            </button>
          </div>
          <div
            class="d-flex align-items-center justify-content-between flex-wrap"
          >
            <input
              type="submit"
              value="Register"
              class="btn btn-success"
              id="submit-button"
              disabled
            />
            <p>Already Registered? <a href="/login">Login here</a></p>
          </div>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <%- include('footer'); %>
    <script src="/javascript/register.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
