<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top py-3">
    <div class="container">
        <a href="/" class="navbar-brand">MoodBuzz</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- My Home, Record (+), View Records, Dashboard -->
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/user/home" class="nav-link">View Records</a>
                </li>
                <li class="nav-item">
                    <a href="/user/snapshot" class="nav-link">New Snapshot (+)</a>
                </li>
                <li class="nav-item">
                    <a href="/user/analytics" class="nav-link">Analytics</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>